.cards-container {
  font-family: 'Nunito', sans-serif;
  /* float: right; */
  width: 48vh;
  height: 92vh;
  border-left: 2px solid #efecec;

  .cards-heading {
    margin-left: 3vh;
    margin-bottom: 0px;
    color: rgb(59, 58, 58);
    font-family: 'Nunito', sans-serif;
  }

  .add-cards {
    margin-top: 5px;
    margin-left: 3vh;
    font-size: 0.85rem;
    color: rgb(141, 139, 139);
    font-family: 'Nunito', sans-serif;
    font-weight: 600;
  }

  .cards-container-section {
    width: 48vh;
    height: 67.5vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    .carinsurance {
      width: 42vh;
      height: 19vh;
    }

    .healthcard-first {
      width: 42vh;
      height: 19vh;
    }

    .healthcard-second {
      width: 42vh;
      height: 19vh;

    }
  }

  .add-card-button {
    margin-top: 1vh;
    margin-left: 3vh;
    font-family: 'Nunito', sans-serif;
    width: 42vh;
    height: 6vh;
    color: white;
    border-color: rgb(41, 111, 251);
    text-align: center;
    background-color: rgb(41, 111, 251);
    border-radius: 3px;
    border: none;
  }

  .know-more-link {
    float: right;
    margin-right: 3.6vh;
    margin-top: 1vh;
    font-size: 0.8rem;
    color: rgb(41, 111, 251);
  }

  .cards {
    width: 48vh;
    height: 65vh;
  }
}