.cards-container {
  font-family: 'Nunito', sans-serif;
  /* float: right; */
  width: 48vh;
  height: 92vh;
  border-left: 2px solid #efecec;

  .cards-heading {
    // margin-left: 3vh;
    // margin-top: 3vh;
    font-size: 1rem;
    font-weight: 700;
    margin-bottom: 0px;
    color: rgb(59, 58, 58);
    font-family: 'Nunito', sans-serif;
  }

  .add-cards {
    // margin-top: 5px;
    // margin-left: 3vh;
    font-size: 0.85rem;
    color: rgb(141, 139, 139);
    font-family: 'Nunito', sans-serif;
    font-weight: 600;
    margin-bottom: 6px;
  }

  .cards-container-section {
    width: 48vh;
    height: 70vh;
    display: flex;
    // margin-left: 1.4vh;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    .carinsurance {
      width: 45vh;
      height: 20vh;
      background-color: rgb(6, 8, 151);
      color: white;
      border-radius: 5px;
      .main-insurance-heading{
        font-size: 10px;
      }
      .insurance-number{
        letter-spacing: 1px;
      }
      .insurance-dollar{
        color: white;
        width: 3vh;
        height: 2.8vh;
      }
      .insurance-amount{
        position: absolute;
        font-size: 1.4rem;
        font-weight: 600;
      }
      .insurance-date{
        position: absolute;
        font-size: 12px;
        font-weight: 500;
      }
    }

    .healthcard-first {
      width: 45vh;
      height: 20vh;
      background-color: rgb(124, 1, 85);
      color: white;
      border-radius: 5px;
      .main-insurance-heading{
        font-size: 10px;
      }
      .insurance-number{
        letter-spacing: 1px;
      }
      .insurance-dollar{
        color: white;
        width: 3vh;
        height: 2.8vh;
      }
      .insurance-amount{
        position: absolute;
        font-size: 1.4rem;
        font-weight: 600;
      }
      .insurance-date{
        position: absolute;
        font-size: 12px;
        font-weight: 500;
      }
    }

    .healthcard-second {
      width: 45vh;
      height: 20vh;
      border-radius: 5px;
      color: white;
      background-color: rgb(12, 172, 124);
      .main-insurance-heading{
        font-size: 10px;
      }
      .insurance-number{
        letter-spacing: 1px;
      }
      .insurance-dollar{
        color: white;
        width: 3vh;
        height: 2.8vh;
      }
      .insurance-amount{
        position: absolute;
        font-size: 1.4rem;
        font-weight: 600;
      }
      .insurance-date{
        position: absolute;
        font-size: 12px;
        font-weight: 500;
      }

    }
  }

  .add-card-button {
    // margin-top: 1vh;
    // margin-left: 3vh;
    font-family: 'Nunito', sans-serif;
    width: 45vh;
    height: 6vh;
    color: white;
    border-color: rgb(41, 111, 251);
    text-align: center;
    background-color: rgb(41, 111, 251);
    border-radius: 3px;
    border: none;
  }

  .know-more-link {
    float: right;
    // margin-right: 0vh;
    // margin-top: 1vh;
    font-size: 0.8rem;
    color: rgb(41, 111, 251);
  }

  .cards {
    width: 48vh;
    height: 65vh;
  }
}